[project]
name = "{{ name }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
license = "GPL-3.0-or-later"
requires-python = ">=3.10, <3.15"
dependencies = [
    "amrita>={{ version }}",
    "ambot-inlinectl>=0.1.2",
]

[dependency-groups]
dev = [
    "ruff>=0.12.8",
    "nonebot-plugin-orm[default]>=0.8.2",
    #"pytest>=8.4.1",
    #"py-spy>=0.4.1",
    "pyright>=1.1.407",
]

[tool.ruff]
line-length = 88
target-version = "py310"

[tool.ruff.lint]
select = [
    "F",     # Pyflakes
    "W",     # pycodestyle warnings
    "E",     # pycodestyle errors
    "UP",    # pyupgrade
    "ASYNC", # flake8-async
    "C4",    # flake8-comprehensions
    "T10",   # flake8-debugger
    "PYI",   # flake8-pyi
    "PT",    # flake8-pytest-style
    "Q",     # flake8-quotes
    "RUF",   # Ruff-specific rules
    "I",     # isort
    "PERF",  # pylint-performance
]
ignore = [
    "E402",   # module-import-not-at-top-of-file
    "E501",   # line-too-long
    "UP037",  # quoted-annotation
    "RUF001", # ambiguous-unicode-character-string
    "RUF002", # ambiguous-unicode-character-docstring
    "RUF003", # ambiguous-unicode-character-comment
]

[tool.amrita]
plugins = [
    "amrita.plugins.chat",
    "amrita.plugins.manager",
    "amrita.plugins.webui",
]

[tool.nonebot]
plugins = ["nonebot_plugin_orm"]

[tool.pyright]
typeCheckingMode = "standard"

[tool.amctl.project]
project-type = "{{ project_type }}"
version = "{{ version }}"
created_at = "{{ created_at }}"

[tool.amctl.scripts]
lint = "uv run ruff check ."
sync = "uv sync"
run = "uv run ambot run"
run_direct = "uv run bot.py"
build = "uv build"
update = "uv add amrita --upgrade"
#test = "uv run pytest"
nb = "uv run ambot nb"
ambot = "uv run ambot"
amctl = "uv run amctl"
orm = "uv run ambot orm"
